<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="hxeclipse.core.haxe"
            class="hxeclipse.haxelib.ui.views.HaxeLibraryManagerView"
            icon="platform:/plugin/hxeclipse.core/icons/haxe.ico"
            id="hxeclipse.haxelib.haxeLibraryManager"
            name="Haxe Library Manager"
            restorable="true">
      </view>
   </extension>
   <extension
         point="hxeclipse.core.librarySelectors">
      <library-selector
            class="hxeclipse.haxelib.ui.dialogs.HaxeLibrarySelectorFactory"
            id="hxeclipse.haxelib.librarySelector">
      </library-selector>
   </extension>

</plugin>
